
*{
  font-family: 'Slabo 27px', serif;
  background: #666699;
  text-shadow: 1px 1px 2px black;
}

li{
  list-style-type: none;
  margin-bottom: 10px;
}

ul{
  margin-top: 0px;
  padding-left: 0px;
}

p{
  color: #FFCC00;
  font-size: 3em;
  font-style: oblique;
  margin: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 955px) {
  .header{
    font-size: 1em;
  }
}

.header{
  height: 150px;
  background:#c0c0c0;
  color: #FFCC00;
  font-size: 4em;
  text-align: center;
  padding-top: 70px;
  border: solid 20px #666699;
  margin-top:0px;
}

.info{
  border-right: 1px dotted #FFCC00;
  width: 300px;
  float:left;
  margin-right: 30px;
  color:#c0c0c0;
  margin-top: 75px;
  margin-left: 50px;
  text-align: center;
  font-size: 1.2em;
  padding-right: 125px;

  a{
    text-decoration: none;
    color: #FFCC00;
  }
}

@media screen and (max-width: 955px) {
  .aboutMe{
    padding-left: 50px;
  }
}

.aboutMe{
  padding-top: 20px;
  width: 300px;
  float:left;
  margin-right: 150px;
  color:#c0c0c0;
  margin-top: 75px;
  text-align: center;
  font-size: 1.2em;
  line-height: 40px;
}

@media screen and (max-width: 955px) {
  .picture{
    padding-left: 70px;
  }
}

.picture{
  width: 250px;
  float:left;
  margin-top: 75px;

  img{
    max-width: 100%;
    border-radius: 150px;
    }
}
